@{
	ViewData["Title"] = "About me";
}
<body>
	<section id="profile">
		<h1 id="profile-name">Quinten van Nimwegen</h1>
		<div id="profile-all">
			<div>
			</div>
			<div id="profile-text">
				<ul id="profile-info">
					<li>School: Windesheim Zwolle</li>
					<li>Studie: HBO-ICT (jaar 2)</li>
					<li>Woonplaats: Ruinen</li>
					<li>Tel: 06-12345678</li>
				</ul>
				<Hr>
				<div class="profile-description">
					<p>
						Hallo, ik ben Quinten van Nimwegen en welkom op mijn pagina! <br> Ik ben 19 jaar en studeer op
						dit
						moment
						HBO-ICT aan Windesheim Zwolle en zit in mijn tweede jaar.
					</p>
				</div>
			</div>
		</div>
		<div>
			<div>
				<h2 class="profile-skills">Skills</h2>
			</div>
			<ul class="profile-skills-ul">
				<li>HTML</li>
				<li>CSS</li>
				<li>JS</li>
				<li>PHP</li>
				<li>C#</li>
				<li>Java</li>
				<li>SQL</li>
			</ul>
		</div>
	</section>
</body>