@model List<GamesHistoryModel>
@{
	ViewData["Title"] = "Admin page";
}


<table class="table">
	<thead>
		<tr>
			<th>User 1</th>
			<th>User 2</th>
			<th>Board</th>
			<th>Player Won</th>
			<th>Time Finished</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var game in Model)
		{
			<tr>
				<td>@game.User1</td>
				<td>@game.User2</td>
				<td class="game-board">
					@for (var i = 0; i < game.Board.Length; i++)
					{
						@if (game.Board[i] == "X")
						{
							<span class="game-board-x">X</span>
						}
						else if (game.Board[i] == "O")
						{
							<span class="game-board-o">O</span>
						}
						else
						{
							<span class="game-board-empty">&nbsp;</span>
						}
						@if ((i + 1) % 3 == 0 && i < 8)
						{
							<br />
						}
					}
				</td>
				<td>@game.PlayerWon</td>
				<td>@game.TimeFinished</td>
			</tr>
		}
	</tbody>
</table>

